<div class="main-container">
  <div class="sub-container card m-5">
    <div class="card-header p-3 bg-white d-flex justify-content-between align-items-center">
      <h3 class="mb-0">Listado de Empresas</h3>
      <div>
        <button class="btn btn-primary me-2 font-button" (click)="openNuevaEmpresaDialog()">Nueva Empresa</button>
      </div>
    </div>
    <div class="table-center card-body">
      <div class="">
        <div class="form-group row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4">
                <select class="form-select size-input" aria-label="Default select example" id="selectedCliente">
                  <option selected>Todos</option>
                  <option *ngFor="let cliente of clientes" [value]="cliente.idCliente">{{ cliente.descripcion }}
                  </option>
                </select>
                <p class="help-input text-muted"><b>Filtrar</b> por Cliente</p>
              </div>
              <div class="col-lg-4">
                <select class="form-select size-input" aria-label="Default select example" id="selectedEstado">
                  <option selected>Todos</option>
                  <option value="1">Activo</option>
                  <option value="2">Inactivo</option>
                </select>
                <p class="help-input text-muted"><b>Filtrar</b> por Estado</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <input type="text" (keyup)="applyFilter($event)" class="form-control size-input" id="" placeholder="Buscar">
            <p class="help-input text-muted"><b>Filtrar</b> en todos los campos</p>
          </div>
        </div>
      </div>
      <div class="table-container table-responsive mb-3">
        <table mat-table [dataSource]="dataSource" class="custom-table">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> N. </th>
            <td mat-cell *matCellDef="let row"> {{row.idEmpresa}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Razon social </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
          </ng-container>

          <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef> Ruc</th>
            <td mat-cell *matCellDef="let row"> {{row.ruc}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Correo</th>
            <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dirección</th>
            <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
          </ng-container>

          <ng-container matColumnDef="clientes">
            <th mat-header-cell *matHeaderCellDef> Clientes </th>
            <td mat-cell *matCellDef="let row">
              <span>{{ formatClientes(row.clientes) }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let row">
              <span>{{ row.estado === 1 ? 'Activo' : row.estado === 2 ? 'Inactivo' : 'Desconocido' }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-outline-primary me-2 btn-sm" (click)="openUpdateEmpresaDialog(row.idEmpresa)"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-outline-danger btn-sm" (click)="confirmarDesactivarEmpresa(row.idEmpresa, row)"><i class="bi bi-trash"></i></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </div>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>