<div class="main-container">
  <div class="sub-container card m-5">
    <div class="card-header p-3 bg-white d-flex justify-content-between align-items-center">
      <h3 class="mb-0">Listado de Areas</h3>
      <div>
        <button class="btn btn-primary me-2 font-button btnRegister" (click)="openNuevaAreaDialog()">Nueva Area</button>
      </div>
    </div>
    <div class="table-center card-body">
      <div class="">
        <div class="form-group row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-4">
                <select class="select2 form-control size-input" id="selectEmpresas" aria-label="Default select example">
                  <option selected>Todos</option>
                  <option *ngFor="let empresa of empresas" [value]="empresa.idEmpresa">{{ empresa.descripcion }}</option>
                </select>
                <p class="help-input text-muted"><b>Filtrar</b> por Empresa</p>
              </div>
              <div class="col-lg-4">
                <select class="select2 form-control size-input" id="selectEstados" aria-label="Default select example">
                  <option selected>Todos</option>
                  <option value="1">Activo</option>
                  <option value="2">Inactivo</option>
                </select>
                <p class="help-input text-muted"><b>Filtrar</b> por Estado</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <input  matInput (keyup)="applyFilter($event)" type="text" class="form-control size-input" id="" placeholder="Buscar">
            <p class="help-input text-muted"><b>Filtrar</b> en todos los campos</p>
          </div>
        </div>
      </div>
      <div class="table-container table-responsive mb-3">
        <table mat-table [dataSource]="dataSource" class="custom-table" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> N. </th>
            <td mat-cell *matCellDef="let row"> {{row.idArea}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
          </ng-container>

          <!-- Empresa Column -->
          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let row">
              <span>{{ formatEmpresas(row.empresas) }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.estado === 1">Activo</span>
              <span *ngIf="row.estado === 2">Inactivo</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-outline-primary btn-sm mb-2 me-2 mt-2 btnUpdate" (click)="openUpdateAreaDialog(row.idArea)">
                <i class="bi bi-pencil-square"></i>
              </button>      
              <button class="btn btn-outline-danger btn-sm mb-2 mt-2 btnDelete" (click)="confirmarDesactivarArea(row.idArea, row)"><i class="bi bi-trash"></i></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator #paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>












  <!--

    <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;">
              <div id="acciones-container-{{row.idArea}}"></div>
            </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-outline-primary me-2 btn-sm"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
            </td>
          </ng-container>
          -->
          <!--
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button *ngFor="let accion of acciones.slice(0,2)" [class]="getIconProperties(accion.nombre!).otherAttribute" (click)="realizarAccion(accion.idAccion!)">
                <i [class]="getIconProperties(accion.nombre!).class"></i>
              </button>
            </td>
          </ng-container>
          -->
